body {
    background: url(../images/Untitled-11.jpg) repeat;
}

* {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

ul {
    padding: 0;
    margin: 0;
}

.container0 {
    width: 100%;
}

.h-head h1 {
    color: black;
    margin: 40px 0px;
    padding-right: 30px;
    border-right: 10px solid black;
    border-radius: 8px;
}
/*======= Loader ==========*/


.loader{
    background-color: forestgreen;
    position: fixed;
    z-index: 9999;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #ed2f3f;
}

.loader h1 {
  position: relative;
  margin: 0 auto;
  top: 25vh;
  width: 100vw;
  text-align: center;
  font-family: 'Cairo';
  font-size: 6vh;
  color: white;
  opacity: .75;
  animation: pulse 2.5s linear infinite;
}

#cooking {
  position: relative;
  margin: 0 auto;
  top: 0;
  width: 75vh;
  height: 75vh;
  overflow: hidden;
}
#cooking .bubble {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0.25vh white;
  opacity: 0;
}
#cooking .bubble:nth-child(1) {
  margin-top: 2.5vh;
  left: 58%;
  width: 2.5vh;
  height: 2.5vh;
  background-color: white;
  animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}
#cooking .bubble:nth-child(2) {
  margin-top: 3vh;
  left: 52%;
  width: 2vh;
  height: 2vh;
  background-color: white;
  animation: bubble 2s ease-in-out .35s infinite;
}
#cooking .bubble:nth-child(3) {
  margin-top: 1.8vh;
  left: 50%;
  width: 1.5vh;
  height: 1.5vh;
  background-color: white;
  animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}
#cooking .bubble:nth-child(4) {
  margin-top: 2.7vh;
  left: 56%;
  width: 1.2vh;
  height: 1.2vh;
  background-color: white;
  animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
}
#cooking .bubble:nth-child(5) {
  margin-top: 2.7vh;
  left: 63%;
  width: 1.1vh;
  height: 1.1vh;
  background-color: white;
  animation: bubble 1.6s ease-in-out 1s infinite;
}
#cooking #area {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: transparent;
  transform-origin: 15% 60%;
  animation: flip 2.1s ease-in-out infinite;
}
#cooking #area #sides {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 15% 60%;
  animation: switchSide 2.1s ease-in-out infinite;
}
#cooking #area #sides #handle {
  position: absolute;
  bottom: 18%;
  right: 80%;
  width: 35%;
  height: 20%;
  background-color: transparent;
  border-top: 1vh solid white;
  border-left: 1vh solid transparent;
  border-radius: 100%;
  transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}
#cooking #area #sides #pan {
  position: absolute;
  bottom: 20%;
  right: 30%;
  width: 50%;
  height: 8%;
  background-color: white;
  border-radius: 0 0 1.4em 1.4em;
  transform-origin: -15% 0;
}
#cooking #area #pancake {
  position: absolute;
  top: 24%;
  width: 100%;
  height: 100%;
  transform: rotateX(85deg);
  animation: jump 2.1s ease-in-out infinite;
}
#cooking #area #pancake #pastry {
  position: absolute;
  bottom: 26%;
  right: 37%;
  width: 40%;
  height: 45%;
  background-color: #dcdc74;
  box-shadow: 0 0 3px 0 #333;
  border-radius: 100%;
  transform-origin: -20% 0;
  animation: fly 2.1s ease-in-out infinite;
}

@keyframes jump {
  0% {
    top: 24%;
    transform: rotateX(85deg);
  }
  25% {
    top: 10%;
    transform: rotateX(0deg);
  }
  50% {
    top: 30%;
    transform: rotateX(85deg);
  }
  75% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(85deg);
  }
}
@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-27deg);
  }
  30%,
  50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(27deg);
  }
  83.3% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes switchSide {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes fly {
  0% {
    bottom: 26%;
    transform: rotate(0deg);
  }
  10% {
    bottom: 40%;
  }
  50% {
    bottom: 26%;
    transform: rotate(-190deg);
  }
  80% {
    bottom: 40%;
  }
  100% {
    bottom: 26%;
    transform: rotate(0deg);
  }
}
@keyframes bubble {
  0% {
    transform: scale(0.15, 0.15);
    top: 80%;
    opacity: 0;
  }
  50% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.33, 0.33);
    top: 60%;
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: .25;
  }
  50% {
    transform: scale(1.2, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: .25;
  }
}

/*======= for mobile ==========*/

@media (max-width: 767px) {
    .h-head h1 {
        color: black;
        margin: 40px 40px;
        padding-right: 30px;
        border-right: 10px solid black;
        border-radius: 8px;
    }
}


/*========================================
    1. navbar
========================================*/

.navbar-default {
    background-color: #ED2F3F;
    border: none;
    border-radius: 0;
    margin: -0px;
    margin-bottom: -5px;
    height: 60px;
}

.navbar-default .web {
    display: block;
}

.navbar-default .mobile {
    display: none;
}

.navbar-default .navbar-header {
    margin-bottom: -2px;
}

.navbar-default img {
    margin-top: -14px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    padding: 16px 15px;
    font-size: 13px;
    margin-top: 5px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: #7F3462;
    border-radius: 5px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #7F3462;
    border-radius: 5px;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}


/*======= for mobile ==========*/

@media (max-width: 767px) {
    .navbar-default {
        background-color: #ED2F3F;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        margin-bottom: -12px;
        height: 55px;
    }
    .navbar-default .web {
        display: none;
    }
    .navbar-default .mobile {
        display: block;
    }
    .navbar-default img {
        margin-top: -14px;
        margin-left: 25px;
    }
    .navbar-default .navbar-nav > li > a {
        color: white;
        padding: 5px 10px;
        font-size: 13px;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: white;
        background-color: #7F3462;
        border: none
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: white;
        background-color: #7F3462;
        border-bottom: 1px solid white;
    }
    .navbar-default .navbar-toggle {
        border-color: white;
        margin-top: -66px;
        margin-right: 25px;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: none;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: white;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #e7e7e7;
        margin-top: -18px;
        background-color: #ED2F3F;
        text-align: center;
    }
}


/*========================================
    2. slider
    modified on its file
========================================*/

.owl-carousel {
    margin-top: 5px;
    overflow: hidden;
    position: absolute;
}

.owl-carousel .overlay {
    z-index: 55;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

.owl-carousel .overlay .text1 {
    font-size: 30px;
    position: absolute;
    top: 60%;
    right: 5%;
    width: 52%;
    border-radius: 20px;
    height: 70px;
    background-color: rgb(0, 2, 3, 0.5);
    text-align: center;
    vertical-align: middle;
    padding-top: 1%;
}

.owl-carousel .overlay .text1 a {
    text-decoration: none;
    color: white;
}

.owl-carousel div span {
    position: relative;
    top: 50%;
    opacity: 1;
    left: 50%;
    font-size: yellow;
}

.owl-carousel div {
    width: 100%;
    overflow: hidden;
}

.owl-carousel div img {}


/*======= for mobile ==========*/

@media (max-width: 767px) {
    .owl-carousel {
        margin-top: 5px;
        overflow: hidden;
        position: absolute;
    }
    .owl-carousel .overlay {
        z-index: 55;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.4);
    }
    .owl-carousel .overlay .text1 {
        font-size: 15px;
        position: absolute;
        top: 40%;
        right: 12%;
        width: 70%;
        border-radius: 20px;
        height: 70px;
        background-color: rgb(0, 2, 3, 0.5);
        padding-top: 5%;
        text-align: center;
        vertical-align: middle;
    }
    .owl-carousel .overlay .text1 a {
        text-decoration: none;
        font-size: 16px;
        color: white;
        text-align: center;
        vertical-align: middle;
    }
    .owl-carousel div span {
        position: relative;
        top: 50%;
        opacity: 1;
        left: 50%;
        font-size: yellow;
    }
    .owl-carousel div {
        width: 100%;
        overflow: hidden;
    }
    .owl-carousel div img {}
}


/*========================================
    3. search navbar
========================================*/

.navbar-default .search {
    margin-top: 10px;
}

.navbar-default .search input {
    width: 400px;
    height: 35px;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

.navbar-default .search .btn {
    width: 100px;
    background-color: #7F3462;
    height: 35px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    margin-right: -4px;
}

.navbar-form {
    padding: 0px;
}


/*======= for mobile ==========*/

@media (max-width: 767px) {
    .navbar-default .search {
        margin-top: 5px;
        text-align: center;
    }
    .navbar-default .search input {
        width: 60%;
        display: inline;
        height: 30px;
        border: none;
        border-radius: 0;
        border-radius: 0px 5px 5px 0px;
    }
    .navbar-default .search .btn {
        width: 100px;
        margin-top: -5px;
        height: 30px;
        border: none;
        border-radius: 0;
        border-radius: 5px 0px 0px 5px;
    }
    .navbar-default .navbar-form {
        border: none;
        padding: 5px 10px;
    }
}


/*========================================
    4. sidebar
========================================*/

.sidebar {
    background-color: #ED2F3F;
    margin-top: 120px;
    border-radius: 5px;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
}

.sidebar form {
    padding-top: 30px;
}

.sidebar .checkbox input {
    margin-right: 50px;
}

.sidebar .form-group {
    width: 90%;
    margin-right: 5%;
}

.sidebar .btn {
    padding: 15px 28px;
    margin-bottom: 10px;
}

.sidebar .form-group input {
    height: 50px;
    width: 100%;
    margin-top: 10px;
}

.sidebar .social-icons {
    margin-top: 30px;
    padding-bottom: 30px;
}

.sidebar .social-icons img {
    margin: 8px;
}

.sidebar .social-icons img:hover {
    -webkit-transform: scale(1.3)rotate(360deg);
    -ms-transform: scale(1.3)rotate(360deg);
    transform: scale(1.3)rotate(360deg);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}


/*======= for mobile ==========*/

@media (max-width: 767px) {
    .sidebar {
        margin-top: 40px;
        margin-bottom: 30px;
    }
}


/*========================================
    5 . right side
========================================*/

.right-side {
    margin-right: -50px;
}

.head-h {
    color: black;
}

.one-p {
    margin: 15px 0px;
}

.imghvr-shutter-out-horiz img {
    margin-top: 1px;
    border: 2px solid black;
    padding: 5px;
}

@media (max-width: 767px) {
    .right-side {
        margin-right: 0px;
    }
    .imghvr-shutter-out-horiz img {
        height: 260px;
    }
}


/*========================================
    6-food section
========================================*/

.margin-div {
    margin-top: 15px;
}

.big-food {
    padding-top: 0px;
    text-align: center;
    padding-bottom: 50px;
}

.big-food img {
    margin-top: -50px;
}

.big-food h1 {
    color: black;
    margin-top: 95px;
}

.big-food p {
    color: black;
    margin-top: 40px;
}


/* 2*/

.big-food2 {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}

.big-food2 img {}

.big-food2 h1 {
    color: black;
    margin-top: 100px;
}

.big-food2 p {
    color: black;
    margin-top: 40px;
}


/*======= for mobile ==========*/

@media (max-width: 767px) {
    .big-food2 {
        padding-top: 0px;
    }
}


/*3*/

.big-food3 {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}

.big-food3 img {}

.big-food3 h1 {
    color: black;
}

.big-food3 p {
    color: black;
    margin-top: 40px;
}


/*========================================
    6- our team
========================================*/

.our-team {
    text-align: center;
}

.our-team figure {
    margin-top: 40px;
    border: 1px solid #cecece;
    border-radius: 10px;
    margin-bottom: 30px;
}

.our-team figure img {
    height: 360px;
    width: 370px;
}

.our-team span {
    color: black;
    font-size: 22px;
}


/*======= for mobile ==========*/

@media (max-width: 767px) {
    our-team {
        text-align: center;
    }
    .our-team figure {
        margin-top: 40px;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .our-team figure img {
        height: 250px;
        width: 170px;
    }
    .our-team span {
        color: black;
        font-size: 22px;
    }
}


/*========================================
    6- where are we
========================================*/

.mapouter {
    position: relative;
    text-align: right;
    margin-left: 40px;
    height: 355px;
    width: 100%px;
    border-radius: 20px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 355px;
    width: 100%px;
    border-radius: 20px;
    border: 1px solid black
}


/*======= for mobile ==========*/

@media (max-width: 767px) {
    .mapouter {
        position: relative;
        text-align: right;
        margin-left: 0px;
        height: 355px;
        width: 100%px;
        border-radius: 20px;
    }
}


/*========================================
    6- contact-us
========================================*/

.body2 {
    color: black;
}

#contact-us .title h2 {
    font-size: 50px;
    text-align: center;
    position: relative;
    padding-top: 0px;
}

#contact-us .title h2:before,
#contact-us .title h2:after {
    content: "";
    border-width: 2px;
    width: 140px;
    margin: 19px auto;
    border-color: #fff;
    border-style: solid;
    display: block;
    border-radius: 50% 20%;
}

#contact-us .info {
    margin-top: 20px;
}

.single-contact-block {
    margin-bottom: 11px;
    padding-bottom: 0px;
    padding-left: 55px;
    position: relative;
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
    font-family: 'Raleway', sans-serif;
}

.single-contact-block:hover {
    opacity: .75;
}

.single-contact-block i.fa {
    color: rgb(0, 0, 0, 0.8);
    font-size: 35px;
    position: absolute;
    top: 14px;
}

.contact-social i.fa {
    background-color: #00a3ff;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
    width: 30px;
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}

.contact-social i.fa:hover {
    background: #444 none repeat scroll 0 0;
}

.contact-info {
    display: inline-block;
    margin-right: 50PX;
}

textarea {
    max-width: 100%
}

#contact-submit {
    font-size: 20px;
    background-color: rgb(237, 47, 63);
    padding: 15px 65px;
    margin-bottom: 50px;
    margin-right: 40%;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    color: white;
}

#contact-submit:hover {
    background-color: rgb(237, 47, 63, 0.9);
}


/*======= for mobile ==========*/

@media (max-width: 767px) {
    #contact-submit {
        font-size: 20px;
        background-color: rgb(237, 47, 63);
        padding: 10px 40px;
        margin-bottom: 50px;
        margin-right: 35%;
        -webkit-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in;
        color: white;
    }
    #contact-submit:hover {
        background-color: rgb(237, 47, 63, 0.9);
    }
}


/*========================================
    6- footer
========================================*/

.footer-bottom {
    height: 40px;
    padding-top: 10px;
    background-color: #ED2F3F;
    color: white;
    text-align: center;
    vertical-align: middle;
}